.game{
    width: 600px;
    height: 200px;
    border-bottom: 1px solid black;
    margin: auto;
}

#dino {
    width: 40px;
    height: 40px;
    background-image: url(/img/-rex.png);
    background-size: 40px 40px;
    position: relative;
    top: 160px;
}

#cactus {
    width: 40px;
    height: 40px;
    background-image: url(/img/cactus.png);
    background-size: 40px 40px;
    position: relative;
    top: 120px;
    left: 560px;
    
} 